h1 {
    color: #364e96;/*文字色*/
    border: solid 3px #364e96;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}
input{
    border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#aaa;
border:solid 1px #ccc;
margin:0 0 20px;
width:300px;
}
textarea{
    border:0;
padding:10px;
font-size:1.3em;
font-family:Arial, sans-serif;
color:#aaa;
border:solid 1px #ccc;
margin:0 0 20px;
width:300px;
}

ul {
	list-style-type: none;
}
ul li {
	position: relative;
	padding: 0.5em 1em 0.5em 2.3em;
	margin-bottom:5px;
    border-bottom: 1px solid rgba(25,118,210,1);
    padding-inline-start: 40px;
}
ul li:after,
ul li:before{
	content:'';
	position: absolute;
	border-radius: 50%;
}
ul li:before {
	top: 50%;
	left: 0.2em;
	width: 17px;
	height: 17px;
	background: rgba(25,118,210, 1);
	transform: translateY(-50%);
}
ul li:after {
	top: 1.1em;
	left: 0.7em;
	width: 14px;
	height: 14px;
	background: rgba(25,118,210, 0.5);
}

.button {
	display       : inline-block;
	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 11px 30px;   /* 余白       */
	background    : rgba(102, 102, 255, 0.76);     /* 背景色     */
	color         : #ffffff;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
	border        : 2px solid rgba(102, 102, 255, 0.76);    /* 枠の指定 */
  }
.button {
	box-shadow    : none;        /* カーソル時の影消去 */
	color         : rgba(102, 102, 255, 0.76);     /* 背景色     */
	background    : #ffffff;     /* 文字色     */
  }